<!-- IF S_ENABLE_FEEDS and S_ENABLE_FEEDS_OVERALL -->
    <li class="rightside" <span>
      {% if S_FORUM_ID %}
        <a type="application/rss+xml" class="feed-icon-forum" title="{L_FEED} - {SITENAME} [{S_FORUM_ID}]" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}">
          <span class="sr-only">{L_FEED}</span>
        </a>
      {% else %}
        <a type="application/rss+xml" class="feed-icon-forum" title="{L_FEED} - {SITENAME}" href="{U_FEED}">
          <span class="sr-only">{L_FEED}</span>
        </a>
      {% endif %}
    </li>
<!-- ENDIF -->
